In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
arquivo = pd.read_csv("imigrantes_canada.csv")
arquivo

,País,Continente,Região,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afeganistão,Ásia,Sul da Ásia,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albânia,Europa,Sul da Europa,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
2,Argélia,África,Norte da África,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,Samoa Americana,Oceânia,Polinésia,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europa,Sul da Europa,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Vietnã,Ásia,Sudeste Asiático,1191,1829,2162,3404,7583,5907,2741,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
191,Saara Ocidental,África,Norte da África,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
192,Iémen,Ásia,Ásia Ocidental,1,2,1,6,0,18,7,...,161,140,122,133,128,211,160,174,217,2985
193,Zâmbia,África,África Oriental,11,17,11,7,16,9,15,...,91,77,71,64,60,102,69,46,59,1677
194,Zimbábue,África,África Oriental,72,114,102,44,32,29,43,...,615,454,663,611,508,494,434,437,407,8598

In [3]:
arquivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   País        195 non-null    object
 1   Continente  195 non-null    object
 2   Região      195 non-null    object
 3   1980        195 non-null    int64
 4   1981        195 non-null    int64
 5   1982        195 non-null    int64
 6   1983        195 non-null    int64
 7   1984        195 non-null    int64
 8   1985        195 non-null    int64
 9   1986        195 non-null    int64
 10  1987        195 non-null    int64
 11  1988        195 non-null    int64
 12  1989        195 non-null    int64
 13  1990        195 non-null    int64
 14  1991        195 non-null    int64
 15  1992        195 non-null    int64
 16  1993        195 non-null    int64
 17  1994        195 non-null    int64
 18  1995        195 non-null    int64
 19  1996        195 non-null    int64
 20  1997        195 non-null    int64
 21  1998        195 non-null    int64
 22  1999        195 non-null    int64
 23  2000        195 non-null    int64
 24  2001        195 non-null    int64
 25  2002        195 non-null    int64
 26  2003        195 non-null    int64
 27  2004        195 non-null    int64
 28  2005        195 non-null    int64
 29  2006        195 non-null    int64
 30  2007        195 non-null    int64
 31  2008        195 non-null    int64
 32  2009        195 non-null    int64
 33  2010        195 non-null    int64
 34  2011        195 non-null    int64
 35  2012        195 non-null    int64
 36  2013        195 non-null    int64
 37  Total       195 non-null    int64
dtypes: int64(35), object(3)
memory usage: 58.0+ KB

In [4]:
arquivo.set_index("País", inplace=True)
arquivo

,Continente,Região,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
País,,,,,,,,,,,,,,,,,,,,,
Afeganistão,Ásia,Sul da Ásia,16,39,39,47,71,340,496,741,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albânia,Europa,Sul da Europa,1,0,0,0,0,0,1,2,...,1223,856,702,560,716,561,539,620,603,15699
Argélia,África,Norte da África,80,67,71,69,63,44,69,132,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
Samoa Americana,Oceânia,Polinésia,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europa,Sul da Europa,0,0,0,0,0,0,2,0,...,0,1,1,0,0,0,0,1,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnã,Ásia,Sudeste Asiático,1191,1829,2162,3404,7583,5907,2741,1406,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
Saara Ocidental,África,Norte da África,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
Iémen,Ásia,Ásia Ocidental,1,2,1,6,0,18,7,12,...,161,140,122,133,128,211,160,174,217,2985
Zâmbia,África,África Oriental,11,17,11,7,16,9,15,23,...,91,77,71,64,60,102,69,46,59,1677
Zimbábue,África,África Oriental,72,114,102,44,32,29,43,68,...,615,454,663,611,508,494,434,437,407,8598

In [14]:
anos = list(map(str,range(1980,2014)))

In [16]:
anos

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [20]:
brasil = arquivo.loc["Brasil",anos]

In [ ]:
brasil_dic = {"Anos" : brasil.index.tolist(), "Imigrantes" : brasil.values.tolist}